<div class='lightbulb-container'>
    <div class='lightbulb-off'>
        <img src='assets/images/light-off.svg'>
    </div>
    <div class='lightbulb-on hidden'>
        <img src='assets/images/light-on.svg'>
    </div>
    <div class='timer-container'>
        <div class='timer-title'>Time worked</div>
        <div class='timer'>
            <p class='time'>00:00:00</p>
        </div>
        <div class='timer-labels'>
            <span class='title-hours'>Hours</span>
            <span class='title-minutes'>Minutes</span>
            <span class='title-seconds'>Seconds</span>
        </div>
    </div>

    {{!-- <div class='chain'></div>
    <div class='chain-background'>
    </div> --}}

</div>

<div class='story'>
    <div class='intro1'>
        <p class='intro-text'>Whoa, dark in here! Better turn the light on. </p>
        <p class='scroll-prompt'>Scroll down to turn the light on</p>
    </div>
    {{#each doc.story-open}}
    <div class='{{{class}}}' data-step='{{{data-step}}}' data-previous-step='{{{data-previous-step}}}'>

        {{!-- Add title-sized text --}}
        {{#if large-text}}
        <p class='story-large-text'> {{{large-text}}}</p>
        {{/if}}
        <p class='story-text'>{{{text}}}</p>


        {{!-- Add correct images --}}
        {{#if sleep-past}}
        <img class='sleep-schedule' src='assets/images/sleep-past.png'>
        {{/if}}

        {{#if sleep-present}}
        <img class='sleep-schedule' src='assets/images/sleep-present.png'>
        {{/if}}

        {{!-- Add begin button to kick off scroll section --}}
        {{#if button-begin-2000s}}
        <div class='button-begin' id='begin-2000s'>
            <p>begin</p>
        </div>
        {{/if}}



        {{!-- Add invisible element for 2000s win section button to kick off scroll section --}}
        {{#if text-below}}
        <p class='win-2000s story-text invisible'>{{{text-below}}}</p>
        {{/if}}

    </div>





    {{/each}}
    {{!-- 1800s text --}}

    {{#each doc.intro-1800s}}
    <div class='{{{class}}}' data-step='{{{data-step}}}' data-previous-step='{{{data-previous-step}}}'>
        <p class='story-text'>{{{text}}}</p>
        {{#if button-begin-1800s}}
        <div class='button-begin' id='begin-1800s'>
            <p>begin</p>
        </div>
        {{/if}}
    </div>
    {{/each}}


    <div class='slides-container-1800s hidden'>
        {{#each doc.story-1800s}}
        <div class='{{{class}}}' data-step='{{{data-step}}}' data-previous-step='{{{data-previous-step}}}'>
            <p class='story-text'>{{{text}}}</p>
            {{!-- Add correct images --}}
            {{#if newspaper}}
            <img class='newspaper' src='assets/images/newspaper.jpg'>
            {{/if}}
            {{#if fashion}}
            <img class='fashion' src='assets/images/fashion.jpg'>
            {{/if}}
            {{#if hermit}}
            <img class='hermit' src='assets/images/hermit.jpg'>
            {{/if}}
        </div>
        {{/each}}
        <div class='win-1800s' data-step='step18' data-previous-step='step17'>
            {{!-- <p class='story-text'>After a hard day's work, you get to relax in the warm, expensive glow of a delicious
                candle.</p> --}}
            {{!-- <p class='story-text'>We must've just landed in a widely-lauded charter school's classroom for gifted
                children, because it just got bright in here. And it only took 6 hours!</p> --}}
            <p class='story-text'>Did we enter a Victorian-era class for gifted children? Because it just got real
                bright
                in here. And it only took 6 hours!</p>
            </p>
        </div>
    </div>

    {{#each doc.intro-2000bc}}
    <div class='{{{class}}}' data-step='{{{data-step}}}' data-previous-step='{{{data-previous-step}}}'>
        <p class='story-text'>{{{text}}}</p>
        {{#if button-begin-2000bc}}
        <div class='button-begin' id='begin-2000bc'>
            <p>begin</p>
        </div>
        {{/if}}
    </div>
    {{/each}}

    <div class='slides-container-2000bc hidden'>
        {{#each doc.story-2000bc}}
        <div class='{{{class}}}' data-step='{{{data-step}}}' data-previous-step='{{{data-previous-step}}}'>
            <p class='story-text'>{{{text}}}</p>
            {{#if brick}}
            <img class='brick' src='assets/images/brick.png'>
            {{/if}}
            {{#if music}}
            <div class='aspect-ratio'>
                <iframe class='iframe-vid' width="560" height="315"
                    src="https://www.youtube.com/embed/QUcTsFe1PVs?start=21" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            {{/if}}
            {{#if button-scroll-shortcut}}
            <div class='button-scroll-shortcut'>
                <p>Scroller, take the wheel</p>
            </div>
            {{/if}}
        </div>
        {{/each}}

    </div>
    <div class='slide-2000bc-final hidden'>
        <p class='story-text'>Nice work! Just over 2 and a third days of non-stop work. That's about a week and a half
            of salaried, 8-hour-a-day employment.
        </p>
    </div>


</div>