<div class='lightbulb-container'>
    <div class='lightbulb-off'>
        <img src='assets/images/light-off.svg'>
    </div>
    <div class='lightbulb-on hidden'>
        <img src='assets/images/light-on.svg'>
    </div>
    <div class='timer-container'>
        <div class='timer-title'>Time worked</div>
        <div class='timer'>
            <p class='time'>00:00:00</p>
        </div>
        <div class='timer-labels'>
            <span class='title-hours'>Hours</span>
            <span class='title-minutes'>Minutes</span>
            <span class='title-seconds'>Seconds</span>
        </div>
    </div>
</div>

<div class='story'>
    <div class='intro1'>
        <p class='intro-text'>Whoa, dark in here! Better turn the light on. </p>
        <p class='scroll-prompt'>Scroll down to turn the light on</p>
    </div>
    {{#each doc.story-open}}
    <div class='{{{class}}}' data-step='{{{data-step}}}' data-previous-step='{{{data-previous-step}}}'>

        {{!-- Add title-sized text --}}
        {{#if large-text}}
        <p class='story-large-text'> {{{large-text}}}</p>
        {{/if}}
        <p class='story-text'>{{{text}}}</p>


        {{!-- Add correct images --}}
        {{#if sleep-past}}
        <img class='sleep-schedule' src='assets/images/sleep-past.png'>
        {{/if}}

        {{#if sleep-present}}
        <img class='sleep-schedule' src='assets/images/sleep-present.png'>
        {{/if}}

        {{!-- Add begin button to kick off scroll section --}}
        {{#if button-begin-2000s}}
        <div class='button-begin' id='begin-2000s'>
            <p>begin</p>
        </div>
        {{/if}}



        {{!-- Add invisible element for 2000s win section button to kick off scroll section --}}
        {{#if text-below}}
        <p class='win-2000s story-text invisible'>{{{text-below}}}</p>
        {{/if}}

    </div>



    {{!-- 1800s text --}}

    {{/each}}

    {{#each doc.story-1800s}}
    <div class='{{{class}}}' data-step='{{{data-step}}}' data-previous-step='{{{data-previous-step}}}'>
        <p class='story-text'>{{{text}}}</p>
    </div>
    {{/each}}
</div>